<template>
    <div class="mt-10">
        <v-layout>
            <v-flex>
                <div class="title">Latest Feed</div>
            </v-flex>
            <v-flex text-right>
              <v-btn icon>
                  <v-icon>mdi-menu</v-icon>
              </v-btn>
              <v-btn color="red" icon>
                  <v-icon>mdi-view-grid-outline</v-icon>
              </v-btn>
            </v-flex>
        </v-layout>
        <v-row>
            <v-col 
              v-for="(image,i) in feedImages"
              :key="i">
              <v-card 
                height="250" 
                width="210"
                color="purple"
                class="mr-3"
                elevation="12"
                style="border-radius:20px;"
             >
            <v-img
            height="250"
            aspect-ratio="1.2"
            :src="image"
            />
            </v-card>
            
          </v-col>
        </v-row>
    </div>
</template>

<script>
export default {
    data() {
        return {
            feedImages: [
                require("../assets/serengeti.jpg"),
                require("../assets/kidepo.jpg"),
                require("../assets/ngorongoro.jpg"),
                require("../assets/zebras.jpg"),
                require("../assets/kidepo.jpg"),
                require("../assets/ngorongoro.jpg"),
                require("../assets/kidepo.jpg"),
                require("../assets/ngorongoro.jpg"),

            ]
        }
    }
}
</script>