<template>
    <v-navigation-drawer
      app
      v-model="drawer"
      permanent
    >
      <v-layout class="pa-4">
        <div>Instagram</div>
      </v-layout>
      <v-layout class="mt-5">
        <v-flex text-center>
          <v-avatar 
            class="outlined"
            size="80">
              <v-avatar 
                 
                size="70"
                color="grey">UT
          </v-avatar>
          </v-avatar>
          <div class="mt-4 title">MN. Arnold</div>
          <div class="mt-1 caption grey--text">New York</div>
          <div class="mt-5">
            <v-layout>
              <v-flex>
                <div class="subtitle-2">Posts</div>
                <div class="subtitle-2 grey--text">50</div>
              </v-flex>
              <v-flex>
                <div class="subtitle-2">Followers</div>
                <div class="subtitle-2 grey--text">3000</div>
              </v-flex>
              <v-flex>
                <div class="subtitle-2">Following</div>
                <div class="subtitle-2 grey--text">400</div>
              </v-flex>
            </v-layout>
          </div>
        </v-flex>
      </v-layout>

      <v-list
        nav
        dense
        class="mt-5"
      >
        
        <v-list-item-group
          v-model="group"
          active-class="red--text text--accent-4"
        >
          <v-list-item>
            <v-icon class="mr-5">mdi-home-outline</v-icon>
            <v-list-item-title>Feed</v-list-item-title>
          </v-list-item>

          <v-list-item>
            <v-icon class="mr-5">mdi-compass-outline</v-icon> 
            <v-list-item-title>Explore</v-list-item-title>
          </v-list-item>

          <v-list-item>
            <v-icon class="mr-5">mdi-pound</v-icon>
            <v-list-item-title>Trending</v-list-item-title>
          </v-list-item>

          <v-list-item>
            <v-icon class="mr-5">mdi-chart-pie</v-icon>
            <v-list-item-title>Stats</v-list-item-title>
          </v-list-item>

          <v-list-item>
            <v-icon class="mr-5">mdi-bell-outline</v-icon>
            <v-list-item-title>Notification</v-list-item-title>
          </v-list-item>

          <v-list-item>
            <v-icon class="mr-5">mdi-account-outline</v-icon>
            <v-list-item-title>People</v-list-item-title>
          </v-list-item>

          <v-list-item>
            <v-icon class="mr-5">mdi-send-outline</v-icon>
            <v-list-item-title>Direct</v-list-item-title>
          </v-list-item>

          <v-list-item>
            <v-icon class="mr-5">mdi-cog-outline</v-icon>
            <v-list-item-title>Settings</v-list-item-title>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
</template>

<script>
export default {
    
}
</script>

<style>
    .v-avatar.outlined {
        border: 2px solid #e7596f;
        background-color: transparent;
        border-radius: 50%;
        height: 100px;
        width: 100px;
    }
</style>