<template>
    <v-navigation-drawer
        class="pa-4 mt-6"
        app 
        clipped 
        floating 
        permanent 
        right 
        v-model="drawer"
    >
    <v-layout>
        <v-card
            height="300"
            width="100%"
            style="border-radius:20px;"
        >
            <v-img
                height="300"
                width="100%"
                lazy-src="https://images.unsplash.com/photo-1549068106-b024baf5062d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"
                src="../assets/thomas.png"
                alt="John"
            >

            </v-img>
        </v-card>
    </v-layout>
    <v-layout class="mt-5">
        <div class="title">Thomas Sankara</div>
    </v-layout>
    <v-layout class="mt-3">
        <v-flex xs6>
            <v-layout>
                <div class="subtitle-2">890</div>
                <div class="subtitle-2 ml-1 grey--text">Photos</div>
            </v-layout>
        </v-flex>
        <v-flex xs6>
            <v-layout>
                <div class="subtitle-2">890K</div>
                <div class="subtitle-2 ml-1 grey--text">Followers</div>
            </v-layout>
        </v-flex>
    </v-layout>
    <v-layout class="mt-4 subtitle-2 grey--text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis doloribus, delectus dolorum esse error voluptatibus dicta accusamus magnam sapiente necessitatibus sed, voluptates labore quia alias tempora cumque ducimus vel impedit?
        <br/>
        <br/>- Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis ducimus magni placeat inventore delectus itaque ut officiis quae atque expedita. In neque ratione quam repellendus, aut nisi facere deserunt quas.
    </v-layout>

    </v-navigation-drawer>
</template>