<template>
  <div>
    <v-layout>
      <v-flex>
        <div class="title">Featured Stories</div>
      </v-flex>
      <v-flex text-right>
        <v-btn 
          depressed 
          color="grey"
          outlined
          class="text-none"
        > Popular Stories
        </v-btn>
      </v-flex>
    </v-layout>
    <v-layout justify-start mt-7>
      <v-flex>
        <v-card 
          height="230" 
          width="170"
          color="purple"
          class="mr-3"
          elevation="12"
          style="border-radius:20px;"
        >
        <v-img
          height="230"
          aspect-ratio="1.2"
          src="../assets/serengeti.jpg"
        >

        </v-img>
        </v-card>
      </v-flex>
      <v-flex>
        <v-card 
          height="230" 
          width="170"
          color="purple"
          class="mr-3"
          elevation="12"
          style="border-radius:20px;"
        >
         <v-img
          height="230"
          aspect-ratio="1.2"
          src="../assets/zebras.jpg"
        />
        </v-card>
      </v-flex>
      <v-flex>
        <v-card 
          height="230" 
          width="170"
          color="purple"
          class="mr-3"
          elevation="12"
          style="border-radius:20px;"
        >
         <v-img
          height="230"
          aspect-ratio="1.2"
          src="../assets/ngorongoro.jpg"
          
        />
        </v-card>
      </v-flex>
      <v-flex>
        <v-card 
          height="230" 
          width="170"
          color="purple"
          class="mr-3"
          elevation="12"
          style="border-radius:20px;"
        >
         <v-img
          height="230"
          aspect-ratio="1.2"
          src="../assets/animalboon.jpg"
        />
        </v-card>
      </v-flex>
        
    </v-layout>
  </div>
</template>

<script>

export default {
  components: {
    
  }
}
</script>