<template>
  <v-app>
    <v-app-bar
      app
      clipped
      flat
      color="white"
    >
  <div class="d-flex align-center">
    <v-img
      alt="Logo"
      class="shrink mr-2"
      contain
      src="./assets/instagram.jpeg"
      transition="scale-transition"
      width="40"
    >
    </v-img>
    <v-spacer></v-spacer>
       <v-flex xs6>
          <v-form
            class="mt-2"
          >
           <v-text-field 
              label="Find your products..."
              append-icon="mdi-microphone"
              prepend-inner-icon="mdi-magnify"
              clearable
              outlined
              rounded
              dense
              hide-details 
              
            >
              <template 
                v-slot: class="linkLabel" 
                v-on:click="onSearchPanelClicked"
              >
                <v-btn 
                  v-on:click="onSearchPanelClicked" 
                  class="link" 
                  flat 
                > 
                  Select Search Panel
                </v-btn>
              </template>
                </v-text-field>
                 
          </v-form>
        </v-flex>
    </div>
  
    <v-spacer></v-spacer>
    <v-btn dark depressed color="red" text class=" text-none mr-5">
      <span>
        <v-icon class="text-none mr-2">mdi-plus</v-icon>Create New Post
      </span>
    </v-btn>
    <v-btn text class="text mr-5">
        <v-icon>mdi-email-outline</v-icon>
     
    </v-btn>
    <v-btn text class="mr-5">
      
        <v-icon>mdi-heart-outline</v-icon>
     
    </v-btn>
    <v-avatar size="30">
        <img
          lazy-src="https://images.unsplash.com/photo-1549068106-b024baf5062d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"
          src="https://images.unsplash.com/photo-1549068106-b024baf5062d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"
          alt="John"
        />
      </v-avatar>
    </v-app-bar>
    
     <main-nav/>
     <profile-right-nav/>
    
    <v-content>
     <ProfilePage />
    </v-content>
  </v-app>
</template>

<script>
import ProfilePage from "./pages/ProfilePage"
import MainNav from "./components/MainNavigation"
import ProfileRightNav from "./components/ProfileRightNav"

  export default {
    components: {
    ProfilePage,
    MainNav,
    ProfileRightNav
  },
    data: () => ({
      drawer: false,
      group: null,
    }),

    watch: {
      group () {
        this.drawer = false
      },
    },

    
  }
</script>
